@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-size: 2vh;
}   

body {
    font-family: 'Titillium Web', sans-serif;
    overflow-x: hidden;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #C3D7CD;
    flex-wrap: wrap;
    padding: 2vh;
}

nav .left {
    align-items: center;
    display: flex;
}

nav .left .img img {
    width: 10vh;
}

nav .right a {
    color: #000;
    text-decoration: none;
    font-size: 2vh;
    margin: 1vh;
}

.don {
    background: #A4C79F;
    border-radius: 3vh;
    padding: 1vh;
}

.benevol {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 2vh;
    height: 80vh;
    padding: 3vh;
}

.benevol .img img{
    width: 60vh;
}

.benevol-text {
    width: 40vh;
    height: 80vh;
}

.scroll {
    margin-top: 4vh;
    text-align: center;
}

.scroll-text {
    font-size: 2vh;
}

.discord {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 2vh;
    height: 80vh;
    padding: 3vh;
}

.discord-text {
    width: 40vh;
}

.discord-text p {
    width: 40vh;
    height: 50vh;
}

.discord-text .invite {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.discord-text .invite a {
    height: 90px;
    width: 600px;
    border-radius: 15px;
    background-color: #5865F2;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-decoration: none;
}

.discord iframe {
    width: 33vw;
    height: 33vw;
}