@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

* {
    font-family: 'Titillium Web', sans-serif;
    color: #1D1D1D;
    font-weight: 400;
}

html {
    overflow-x: hidden;
}

.navbar {
    height: 10vh;
    width: 100vw;
    background-color: #C3D7CD;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
}

.navbar .branding {
    height: 87%;
    display: flex;
    margin-left: 30px;
    font-size: 20px;
    align-items: center;
}

.navbar .branding img {
    height: 100%;
}

.navbar .branding h1 {
    margin: 0;
    padding-left: 15px;
    position: relative;
    width: 250px;
}

.navbar .buttons {
    width: 500px;
}

.navbar .buttons ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
    justify-content: space-between;
    padding-right: 30px;
}

.navbar .buttons a {
    text-decoration: none;
}

.navbar .buttons li {
    border-radius: 15px;
    display: flex;
    align-items: center;
    padding: 5px;
}

.navbar .buttons li h2 {
    transition: 0.5s;
}
.navbar .buttons li:hover h2 {
    color: #4e4e4e;
    transition: 0.5s;
}

.navbar .buttons li.important {
    height: 50px;
    background-color: #8DBF86;
    transition: 0.5s;
}

.navbar .buttons li.important:hover {
    background-color: #a4c79f;
}

.section {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.section .text {
    width: 45%;
}

.section .text h1 {
    font-size: 40px;
}

.section .text p {
    font-size: 23px;
    line-height: 23px;
}

.presentation img {
    width: 30%;
}

.presentation .scroll {
    position: relative;
    top: 30px;
    font-size: 32px;
}

.discord .text * {
    text-align: right;
}

.discord iframe {
    width: 33vw;
    height: 33vw;
}

.discord .text .invite {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.discord .text .invite a {
    height: 90px;
    width: 600px;
    border-radius: 15px;
    background-color: #5865F2;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
}

.discord .text a {
    text-decoration: none;
}

.discord .text h2 {
    color: #F3F3F3;
    font-size: 30px;
}

.footer {
    height: 280px;
    width: 100vw;
    background-color: #C3D7CD;
    position: relative;
    bottom: -10px;
    left: -10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer .mentions {
    height: 87%;
    display: flex;
    margin-left: 30px;
    font-size: 20px;
    align-items: center;
}

.footer .mentions img {
    height: 100%;
}

.footer .mentions .text {
    margin-left: 15px;
}

.footer .buttons {
    width: 600px;
}

.footer .buttons ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
    justify-content: space-between;
    padding-right: 30px;
}

.footer .buttons a {
    text-decoration: none;
}

.footer .buttons li {
    border-radius: 15px;
    display: flex;
    align-items: center;
    padding: 5px;
}

.footer .buttons li h2 {
    transition: 0.5s;
    font-size: 30px;
}

.footer .buttons li:hover h2 {
    color: #4e4e4e;
    transition: 0.5s;
}

.footer .buttons li.important {
    height: 50px;
    background-color: #8DBF86;
    transition: 0.5s;
}

.footer .buttons li.important:hover {
    background-color: #a4c79f;
}